{% extends "@panel/base.html.twig" %}
{% block header_title %}Dashboard{% endblock %}

{% block head_javascript %}
{{ parent() }}
<script>
    var widgetPayload = {
        endpoint_edit: "{{ '/api/Dashboard/Widget/edit' | access_path | url }}",
        endpoint_save: "{{ '/api/Dashboard/Widget/save' | access_path | url }}",
        endpoint_fetch: "{{ '/api/Dashboard/Widget/fetch' | access_path | url }}",
        endpoint_load: "{{ '/widget/load' | access_path | url }}"
    }
    function handleSave(e, data) {
        return new Promise((acc, rej) => {
            __.http.post("{{'/api/Dashboard/Widget/save'|access_path|url}}", { data: data, csrf_token: "{{csrf_token()}}" })
                .then((data) => {
                    __.toast("Widget Saved", 5, 'text-success');
                    acc("Ok");
                })
                .catch((error) => {
                    __.toast(error.message || "Something went wrong", 5, 'text-danger');
                    rej();
                });
        });
    }
    __.Widget.on("save", handleSave);
</script>
{% endblock %}


{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ '@dashboard/dist/index.css' | assets | url }}">
{% endblock %}



{% block subheader_outer %}
{% if _box.Dashboard.getRoles.isAllowed(0) %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block subheader_search_outer %}{% endblock %}

{% block subheader_menu %}
<button class="menu-item" id="edit-widget-button"><i class="fa-regular fa-pen-to-square"></i> Edit Widget</button>
{% endblock %}




{% block javascript %}
{{ parent() }}
<script src="{{ '@dashboard/dist/index.js' | assets | url }}"></script>
{% endblock %}




{% block content %}
<div class="pb-5" id="root"></div>
{% endblock %}